.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 4s ease infinite alternate;
  -moz-animation: animatedgradient 4s ease infinite alternate;
  animation: animatedgradient 4s ease infinite alternate;
}

html {
  overflow-x: hidden !important;
}

html, body {
  scroll-behavior: smooth;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.anim {
  animation: animateIt 1s ease infinite ;
}

@keyframes animateIt {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(4px);
  }
}

.clip {
  clip-path: polygon(
    100% 0,
    100% 20%,
    99% 100%,
    80% 100%,
    52% 100%,
    0 62%,
    0 0
  );
  border-radius: 70px;
  overflow: auto !important;
  overflow: visible !important; /* Altera o overflow para visible */
}

::selection {
  background-color: #033e85;
  color: white;
}

.z-500 {
  z-index: 99999 !important;
}
.z-20 {
  z-index: 99999 !important;
}
.zz-10 {
  z-index: -9 !important;
}

::-webkit-scrollbar {
  width: 15px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #fff; /* Cor de fundo da faixa da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do thumb */
  border-radius: 100px !important; /* Borda do thumb */
}

/* Para navegadores Firefox */
/* Este é um exemplo básico, o Firefox tem menos flexibilidade de estilização */
/* Note que pode haver variações dependendo da versão do Firefox */
/* Você pode precisar usar vendor prefixes específicos do Firefox para versões mais antigas */
* {
  scrollbar-width: thin; /* Largura da barra de rolagem */
  scrollbar-color: #033e85 #fff; /* Cor da barra de rolagem e do thumb */
}
